*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    padding: 36px 120px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 139px;
    height: 60px;
}
nav.ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}