*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    padding: 36px 120px;
    background-color: #FFFFFF;
}
nav{
    width: 1600px;
    height: 92px;
    padding: 16px 120px 16px 120px;
    display: flex;
    justify-content: space-between;
    gap: 346px;

}
nav .meno{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .meno a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.logo{
    width: 139px;
    height: 60px;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}
