*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    padding: 36px 120px;
    background-color: #FFFFFF;
}
nav{
    width: 1600px;
    height: 92px;
    padding: 16px 120px 16px 120px;
    display: flex;
    justify-content: space-between;
    gap: 346px;

}
nav .meno{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .meno a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.logo{
    width: 139px;
    height: 60px;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}
.hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);
}
.hero-content{
    max-width: 720px;
    text-align: center;
    padding: 24px;

}
.pill{
    display: inline-block;
    padding: 8px 12px;
    border-radius: 999px;
    background: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    gap: 6px;
    margin-bottom: 20px;
}
.hero-title{
    width: 770px;
    height: 168px;  
    font-family: Inter;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;

}
.hero-title span{
    color: #30B868;
}
.hero-text{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 34px;
}
.hero-actions{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}
.bt{
    padding: 14px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.25s ease;
}
.btn-primary{
    background:#30B868;
    color: #FFFFFF;
    width: 251px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    text-decoration: none
}
.btn-outline{
    width: 198px;
    height: 52px;
    border: 1px solid #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    text-decoration: none
}
.btn-outline-img{
    width: 16px;
    height: 18px;
    gap: 4px;
}



.problem-section {
    background: #f8fafc;
    padding: 120px;

}
.section-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0f172a;
}
.knowledge-section {
  padding: 0px 120px 120px 120px ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px ;
}
.text-header {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center ;
}

.text-header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 36px;
}

.text-header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
}
.cards-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 24px;  
}
.card {
    flex: 1 ;
    background: #fdfdfd ;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #f0f0f0; 
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}
.icon-box {
    width: 50px;
    height: 50px;
    background-color: #e54b4b;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box img {
    width: 30px; 
    height: auto;
}
.card h3 {
    font-style:Bold;
    font-size: 24px;
    font-weight: 600;
    color: #001931 ;
    text-align: center;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    color: #627382 ;
    text-align: center;
    
}

.container{
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    gap: 60px;
    flex-direction: row;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
    gap: 16px;
}
.circle img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.right ul{
    list-style-type: none;
    color: #627382;
    margin-bottom: 16p;
}
.right h5{
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    color: #30B868;
    margin-bottom: 16px;
}
.right h1{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.right p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}



.cta-section {
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 80px 40px 80px 40px;
    
}
.container-2 {
    width: 1360px;
    height: 399px;
    color: #F7F6F2;
    width: 1360px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 80px 40px;  
}
.cta-title {
    color: #001931;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  
}
.cta-description {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.cta-button {
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;  
    margin-bottom: 13px; 
}
.cta-button{
    text-decoration: none;
}
.cta-button img{
    align-items: center;
}
.cta-button:hover {
    background-color: #083b22;
}
.cta-footer-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
}


.site-footer {
    background-color: #0a1128;
    color: #ffffff;
    padding: 80px 120px 30px 120px; 
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    height: 30px; 
}

.social-links {
    font-style: Medium;
    font-size: 20px;
    font-weight: 500;

    text-align: right;
}

.social-links p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ccc;
}

.icons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.icons a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.8;
    transition: 0.3s;
}

.icons a:hover {
    opacity: 1;
}

.footer-bottom {
    text-align: center;
    font-size: 13px;
    color: #999;
}
.icons img{
    width: 20px;
    height: 20px;
}

